.header {
    background-image: url(http://longwallpapers.com/Desktop-Wallpaper/marvel-avengers-wallpapers-high-definition-For-Desktop-Wallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 6%;
    color: gold;
    text-align: center;
}
.header h1 {
    padding: 7% 0px 15% 0px;
}
.section {
    padding-top: 3%;
    font-family: fantasy;
}
.section-heading,.section-sub-title{
    text-align: center;
}
.avengers-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    width: 17%;
    margin-bottom: 4%;
    margin: 0 4% 4%;
}
.jumbotron {
    background-color: gold;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: center;
    padding: 1rem 0 0 0;
    margin-top: 3rem;
}
.table {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 7%;
}
.jumbotron h4 {
    font-size: 2.5rem;
}
footer {
    background-image: url(https://img00.deviantart.net/bd6a/i/2013/220/e/2/thor__the_dark_world__hi_res_textless_banner__by_phetvanburton-d6hb9q0.jpg);
    color: gold;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
}
footer h4{
    font-size: 2.5rem;
    padding-top: 150px;
    text-align: center;
}